Package: enigma2-plugin-skins-mynobile
Version: 0.1r0
Description: MyNobile based on Skin Nobile MOD by Satinfo with BIG Picon
Section: misc
Priority: optional
Architecture: mips32el
Maintainer: Satinfo, arn354
